.number-403 {
  font-family: "Train One";
  font-style: normal;
  font-weight: 400;
  font-size: 200px;
  line-height: 219px;

  color: #ffffff;
}

.title-403 {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
}

.subtitle-403 {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 56px;
  line-height: 66px;
}
.text-description {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}
