$primary-black: #000000;
//back background
$secondary-red: rgb(135, 34, 25);
$secondary-black: radial-gradient(
  circle,
  rgba(135, 34, 25, 1) 0%,
  rgba(1, 0, 27, 1) 100%
);

//text

$text-white: #ffffff;
